<!DOCTYPE html>
<html lang="en">
<head>
    {{> htmlhead }}
    {{> bootstrap }}
</head>
<body>
    {{> navbar }}

    <main class="container">
        <div class="bg-light p-5 rounded">
            <h1>About this app</h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis deserunt dignissimos ea
                eveniet ex excepturi explicabo fugiat maxime nam odit quis ratione repellat soluta tempora, tenetur, ut
                voluptas voluptatibus. Accusamus asperiores dolore maxime possimus? Adipisci consequatur culpa delectus
                ducimus eius, est et exercitationem expedita facere harum hic incidunt laborum magni quae, rerum sed,
                sint sit soluta tenetur voluptatibus! Blanditiis dolore, dolorem ea eius eligendi esse et facilis illo
                magni necessitatibus odit officiis perspiciatis quaerat quibusdam sapiente sint voluptas! Aliquid
                assumenda eligendi, excepturi fugit hic in natus temporibus veritatis? Atque consequuntur doloribus hic
                id iste laborum minus odit officiis unde.
            </p>
            <p>
                Harum ipsa ipsam laborum magnam nisi, nulla placeat qui quia quo reiciendis voluptatibus? A aspernatur,
                consequuntur cum deserunt ea illo incidunt ipsam magnam, nam natus officia quas quia recusandae sit ut
                vero voluptas. A ab commodi consectetur, debitis dicta dolor dolorem doloremque ea eaque earum est
                excepturi facere fuga fugiat harum hic id nam nobis nostrum optio pariatur quasi quibusdam quidem
                repellat vero! Aliquid nobis praesentium tenetur.
            </p>

            <div class="row align-items-center">
                <div class="col">
                    <img src="https://robohash.org/one.png?set=set3" alt="one" class="img-fluid">
                </div>
                <div class="col">
                    <img src="https://robohash.org/two.png?set=set3" alt="two" class="img-fluid">
                </div>
                <div class="col">
                    <img src="https://robohash.org/three.png?set=set3" alt="three" class="img-fluid">
                </div>
            </div>
        </div>
    </main>
</body>
</html>
