<!DOCTYPE html>
<html lang="en">
<head>
    {{> htmlhead }}
    {{> bootstrap }}
</head>
<body>
    {{> navbar }}

    <main class="container">
        <div class="bg-light p-1 rounded">
            <h1>Not Found</h1>
            <p class="text-danger">
                Ooops, couldn't find the person "<code>{{id}}</code>" you were looking for.
            </p>
            <a href="/" class="btn btn-warning">
                <i class="bi bi-house-door-fill"></i>
                Back to the start page
            </a>
        </div>
    </main>
</body>
</html>
