<!DOCTYPE html>
<html lang="en">
<head>
    {{> htmlhead }}
    {{> bootstrap }}
</head>
<body>
    {{> navbar }}

    <main class="container">
        <div class="bg-light p-5 rounded">
            <h1>The People Spring-Boot App</h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore exercitationem facilis laborum
                molestias numquam voluptatum? Aut eius facere ipsum quasi reiciendis sed voluptatibus. A cupiditate
                delectus deserunt distinctio explicabo facere labore laboriosam nesciunt, tempore veritatis? Accusantium
                aliquam aut dolore ducimus eius, harum magnam magni minima mollitia optio quasi rerum voluptatum?
            </p>

            <p>
                <img src="/people.jpg" class="img-fluid" alt="people">
            </p>
        </div>
    </main>
</body>
</html>
