<!DOCTYPE html>
<html lang="en">
<head>
    {{> htmlhead }}
    {{> bootstrap }}
</head>
<body>
    {{> navbar }}

    <main class="container">
        <div class="bg-light p-1 rounded">
            <h1>Person List</h1>

            <table class="table table-hover table-borderless">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>City</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    {{#items}}
                        <tr class="fs-4">
                            <td><img src="{{ icon }}" alt="{{name}}" class="img-fluid"></td>
                            <td><code>{{ name }}</code></td>
                            <td>{{ age }} kr</td>
                            <td>{{ city }}</td>
                            <td>
                                <a href="/person/show/{{id}}" class="text-decoration-none btn btn-link text-dark fs-4">
                                    <i class="bi bi-person-vcard-fill"></i>
                                    View
                                </a>
                            </td>
                        </tr>
                    {{/items}}
                </tbody>
            </table>

        </div>
    </main>
</body>
</html>
