<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            Person Spring-Boot App
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a href="/home" class="nav-link">
                        <i class="bi bi-house-door-fill"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/person/list" class="nav-link">
                        <i class="bi bi-people-fill"></i>
                        List
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">
                        <i class="bi bi-file-earmark-person"></i>
                        About...
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
