<!DOCTYPE html>
<html lang="en">
<head>
    {{> htmlhead }}
    {{> bootstrap }}
</head>
<body>
    {{> navbar }}

    <main class="container">
        <div class="bg-light p-1 rounded">
            <h1>Person Detail</h1>

            {{#item}}
                <div class="card" style="width: 30rem;">
                    <img src="{{ avatar }}" class="card-img-top" alt="{{ name }}">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ name }}, {{ age }}</h5>
                        <h5 class="card-subtitle text-center text-capitalize fst-italic">{{ email }}</h5>
                        <h6 class="card-subtitle text-center text-capitalize ">{{ city }}, {{ country }}</h6>
                    </div>
                </div>
            {{/item}}

        </div>
    </main>
</body>
</html>
