body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: 3rem auto 4rem;
  grid-template-columns: 1fr;
}

header {
  background-color: hsl(210, 100%, 45%);
  color: #fff;
  padding: .25em 1.5em;

  ul {
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      & + li {
        margin-left: 2em;
      }

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: hsl(33, 100%, 50%);
          font-weight: 600;
        }
      }
    }
  }
}

main {
  padding: 1em;
  color: #333;

  .error {
    color: red;
    font-weight: 700;
  }

}

footer {
  background-color: #222;
  color: #aaa;
  text-align: center;
  padding: 1em;
}
