<script setup>
    import {RouterLink, RouterView} from 'vue-router';

</script>

<template>
    <header>
        <ul>
            <li>
                <router-link :to="{name: 'home'}" >Home</router-link>
            </li>
            <li>
                <router-link :to="{name: 'persons'}" >Person List</router-link>
            </li>
            <li>
                <router-link :to="{name: 'about'}" >About...</router-link>
            </li>
        </ul>
    </header>

    <main>
        <router-view/>
    </main>

    <footer>
        &copy; {{ new Date().getFullYear()}} Bugsify Ltd. All rights reversed.
    </footer>
</template>

<style scoped>
</style>
