<script setup>
    import {ref} from "vue";

    const names = ref(['one', 'two', 'three']);
</script>

<template>
    <h1>About...</h1>
    <p class="lorem">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi, aperiam asperiores aut ducimus
        eligendi eos est et harum labore molestias numquam pariatur perspiciatis praesentium quae veniam! Consectetur
        consequatur corporis doloremque enim est id magni placeat provident quaerat quod recusandae reiciendis sed sit
        sunt tempora tempore tenetur veniam, veritatis, vitae voluptate. Accusamus commodi culpa dolor dolorem dolorum
        ducimus eaque eius, excepturi fugit illum iste iusto odio odit officia, omnis quam, rem unde voluptates. Aliquid
        amet architecto, beatae error et facere magni officia praesentium ratione tenetur. Assumenda distinctio illum
        placeat possimus qui? Commodi dignissimos doloremque enim est maiores nihil officia qui repudiandae voluptatum.
        Amet delectus est nobis quibusdam tempora. Accusamus accusantium aliquid assumenda culpa dolorem dolorum ea in
        iusto labore nam necessitatibus nostrum saepe, sequi veniam voluptatibus. Asperiores at consectetur doloremque
        ducimus, ea fugiat hic illum inventore ipsum itaque magnam maxime modi non sint soluta unde veritatis voluptas.
        Dicta dolor ducimus enim minus odio. Cum dignissimos tenetur unde. Animi culpa debitis incidunt ipsam nemo
        reiciendis similique? Alias dignissimos expedita facere facilis ipsa, iste sed. Alias aliquid consequatur
        consequuntur dolorum eum explicabo harum itaque molestiae nisi numquam officiis quae quis recusandae repudiandae
        suscipit tenetur ut, velit voluptas. Esse laborum quidem reiciendis.
    </p>

    <p class="images">
        <img v-for="name of names"
             :src="`https://robohash.org/${name}?set=set4`"
             :alt="'RoboHash-' + name">
    </p>
</template>

<style scoped>
    .lorem {
        text-align: justify;
    }

    .images {
        text-align: center;
    }
</style>