<script setup>
    import {ref, onMounted, watch, toRaw} from 'vue';
    import {useRoute} from 'vue-router';

    const baseUrl = import.meta.env.VITE_BASEURL;
    const route = useRoute();
    const item = ref(null);
    const message = ref();

    onMounted(async () => {
        item.value = await loadPerson(route.params.id);
    });

    watch(
            () => route.params.id,
            async newId => {
                item.value = await loadPerson(newId);
            }
    );

    async function loadPerson(id) {
        console.log('[person-view] load id=%s', id)
        message.value = '';
        try {
            const res = await fetch(`${baseUrl}/${id}`);
            if (res.ok) {
                const payload = await res.json();
                console.log('[person-view] items:', toRaw(payload))
                return payload;
            } else {
                message.value = `Failed load item id=${id}: ${res.status}`;
                return null;
            }
        } catch (err) {
            console.error('failed: %o', err)
            message.value = `Failed to start load: ${err}`;
            return null;
        }
    }
</script>

<template>
    <h1>Person View</h1>
    <p v-if="message" class="error">{{ message }}</p>
    <table v-if="item" >
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{item?.id}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{item?.name}}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{item?.age}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{item?.email}}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{item?.city}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{item?.country}}</td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <img :src="`https://robohash.org/${item.email}?set=set1`" alt="RoboHash">
                </td>
            </tr>
        </tbody>
    </table>
</template>

<style scoped>

</style>