<script setup>
    import peopleImg from '../assets/people.jpg';
</script>

<template>
    <h1>Simple App</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquam aperiam atque aut beatae delectus
        doloremque dolores earum esse exercitationem explicabo illo nam natus pariatur, possimus quos, voluptas?
        Aperiam, asperiores earum! Alias assumenda, beatae dolorem dolores eveniet facere illo in, nesciunt nisi placeat
        quibusdam reprehenderit sunt, temporibus voluptatem voluptatibus.
    </p>
    <p>
        <img :src="peopleImg" alt="People">
    </p>
</template>

<style scoped>
    p {
        text-align: center;
        font-size: 1.2rem;
    }

    img {
        width: 100%;
        border-radius: 2em;
    }
</style>
