<script setup>
    import {onMounted, ref} from 'vue';
    import {RouterLink} from 'vue-router';

    const baseUrl = import.meta.env.VITE_BASEURL;
    const items = ref([]);
    const message = ref();

    onMounted(async () => {
        items.value = await loadPersons();
    });

    async function loadPersons() {
        message.value = '';
        try {
            const res = await fetch(baseUrl);
            if (res.ok) {
                return await res.json();
            } else {
                message.value = 'Failed to load items: ' + res.status;
                return [];
            }
        } catch (err) {
            console.error('failed: %o', err)
            message.value = `Failed to start load: ${err}`;
            return [];
        }
    }
</script>

<template>
    <h1>Person List</h1>
    <p v-if="message" class="error">{{ message }}</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="p of items">
                <td>{{ p.name }}</td>
                <td>{{ p.age }}</td>
                <td>{{ p.city }}</td>
                <td>
                    <router-link :to="{name: 'person', params:{id: p.id}}">
                        Show
                    </router-link>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<style scoped lang="scss">
    table {
        width: 100%;

        th {
            text-align: left;
        }

        tbody {
            tr:hover {
                background-color: #eee;
            }

            a {
                color: #444;
                text-decoration: none;

                &:visited {
                    color: inherit;
                }
            }
        }
    }
</style>